body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.mark {
    fill-opacity: 0.6;
    stroke: #333;
    stroke-width: 0.3;
}

/* Tooltip */
#tooltip {
    display: none;
    position: absolute;
    padding: 8px;
    background: white;
    border: 1px solid grey;

    color: black;
    font-weight: bold;
    font-size: 12px;
}
#tooltip .title {
    font-size: 14px;
    font-weight: lighter;
}
